<header>
    <div class="header-main">
        <div class="container header-main">
            <nav class="navbar navbar-expand-md main-navbar navbar-dark bg-none p-0">
                <a class="navbar-brand" routerLink="/" ><img src="assets/images/logo.png" width="226" class="img-fluid" alt="CMBA"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div id="main-navbar" class="navbar-collapse collapse justify-content-end">
                    <ul class="navbar-nav">                    
                        <li class="nav-item">
                            <a class="nav-link"  routerLink="about-us"> About Us</a>
                        </li>                    
                        <li class="nav-item">
                            <a class="nav-link" routerLink="hotel"> Hotel</a>
                        </li>                
                        <li class="nav-item">
                            <a class="nav-link" routerLink="tour-packages"> Tour Packages</a>
                        </li>             
                        <li class="nav-item">
                            <a class="nav-link" routerLink="contact-us"> Contact Us</a>
                        </li>        
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary" href=""> log in</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>