<footer >
  <div class="footer">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-8 text-center mb-4 pb-4">
                  <a href="#"><img src="assets/images/logo.png" width="226" class="img-fluid d-inline  rotate" alt=""></a>
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-lg-3 col-md-12 col-sm-8 ">
                  <h5 class="footer-title">Cantact Us</h5>
                  <ul class="list">
                      <li><i class="fa fa-map-marker mr-2"></i> 132, My Street, Kingston, New York 1240</li>
                      <li><a href="tel:+919876543210"><i class="fa fa-phone mr-2"></i>+91 987-654-3210</a></li>
                      <li><a href="mailto:info@company.com"><i class="fa fa-envelope mr-2"></i>info@company.com</a></li>
                      <li>Sign up for our mailing list to get latest updates and offers.</li>
                   </ul>
                   <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Email address" >
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fa fa-check"></i></button>
                    </div>
                    </div>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-4">
                  <h5 class="footer-title">Book Now</h5>
                  <ul class="list-2 buttet">
                      <li><a href="flight">Flight</a></li>
                      <li><a href="tours">Tours</a></li>
                      <li><a href="packages">Packages</a></li>
                      <li><a href="transfer">Transfer</a></li>
                      <li><a href="car-rent">Car Rent</a></li>
                      <li><a href="cruises">Cruises</a></li>
                  </ul>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-4">
                  <h5 class="footer-title">Exploore</h5>
                  <ul class="list-2">
                      <ul class="list-2">
                          <li><a href="madrid-tour" >Madrid Tour</a></li>
                          <li><a href="stockholm-city">Stockholm City</a></li>
                          <li><a href="roma-city">Roma City</a></li>
                          <li><a href="shanghai-city">Shanghai City</a></li>
                          <li><a href="tokyo-city">Tokyo City</a></li>
                          <li><a href="paris-city">Paris City</a></li>
                      </ul>
                  </ul>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-4">
                  <h5 class="footer-title">Top Deals</h5>
                  <ul class="list-2">
                          <li><a href="edemil-hotel">Edemil Hotel</a></li>
                          <li><a href="turhal-hotel">Turhal Hotel</a></li>
                          <li><a href="kadirly-hotel">Kadirly Hotel</a></li>
                          <li><a href="sarina-hotel">Sarina Hotel</a></li>
                          <li><a href="amasya-hotel">Amasya Hotel</a></li>
                          <li><a href="matel-hotel">Matel Hotel</a></li>
                  </ul>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-4">
                  <h5 class="footer-title">Destinations</h5>
                  <div class="row ">
                      <div class="col-md-4 col-sm-4 col-4 p-1"><a href="destinations"><img src="assets/images/hotal-1-100x100.jpg" class="img-fluid w-100"></a></div>
                      <div class="col-md-4 col-sm-4 col-4 p-1"><a href="destinations"><img src="assets/images/hotal-2-100x100.jpg" class="img-fluid w-100"></a></div>
                      <div class="col-md-4 col-sm-4 col-4 p-1"><a href="destinations"><img src="assets/images/hotal-3-100x100.jpg" class="img-fluid w-100"></a></div>
                      <div class="col-md-4 col-sm-4 col-4 p-1"><a href="destinations"><img src="assets/images/hotal-4-100x100.jpg" class="img-fluid w-100"></a></div>
                      <div class="col-md-4 col-sm-4 col-4 p-1"><a href="destinations"><img src="assets/images/hotal-5-100x100.jpg" class="img-fluid w-100"></a></div>
                      <div class="col-md-4 col-sm-4 col-4 p-1"><a href="destinations"><img src="assets/images/hotal-6-100x100.jpg" class="img-fluid w-100"></a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="text-center foo-second">
    ©  2010-2019 Tripframes. All rights reserved.
  </div>
  
</footer>