<section class="home-main-banner">

  <div class="top-space"></div>
  <div class="container">
    <h1 class="text-white text-center heading-main"> &lt;-- Space For Title --&gt;</h1>
    <p class="text-white text-center h5"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>
</section>
<section class="upcoming-section mt-4 pt-4">
  <div class="container">
      <div class="row justify-content-start">
          <div class="col-md-12 mb-4">
              <div class="card mb-4">
                  <div class="card-header bg-primary">
                      <h5 class="text-secondary mb-0">Enquiry Now</h5>
                  </div>
                  <div class="card-body">
                      <form class="" action="" method="POST">
                          <div class="row">
                                <div class="col-lg-6 col-md-12 mb-2">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-3  col-form-label">First Name :</label>
                                        <div class="col-lg-8 col-md-9">
                                            <input type="text"  class="form-control" placeholder="First Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 mb-2">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-3 col-form-label">Last Name :</label>
                                        <div class="col-lg-8 col-md-9">
                                                <input type="text"  class="form-control" placeholder="last Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 mb-2">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-3 col-form-label">Email :</label>
                                        <div class="col-lg-8 col-md-9">
                                            <input type="text"  class="form-control" placeholder="Email Address">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 mb-2">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-md-3 col-form-label">Phone :</label>
                                        <div class="col-lg-8 col-md-9">
                                                <input type="text"  class="form-control" placeholder="Phone Number">
                                        </div>
                                    </div>
                                </div>
                                    
                            
                            <div class="col-md-12 mb-2 pb-4">
                                <div class="row">
                                        <div class="col-lg-2 col-md-3 pr-0">
                                            <div class="form-check-inline">
                                                <label class="form-check-label">
                                                        Destination : 
                                                </label>
                                            </div>
                                        </div>
                                            <div class="col-lg-10 col-md-9">
                                                    <div class="form-check-inline">
                                                            <label class="form-check-label">
                                                                <input type="radio" class="form-check-input" name="optradio">Domestic
                                                            </label>
                                                        </div>
                                                        <div class="form-check-inline">
                                                            <label class="form-check-label">
                                                                <input type="radio" class="form-check-input" name="optradio">International
                                                            </label>
                                                        </div>
                                            </div>
                                            
                                </div>
                                
                            </div>
                            
                            <div class="col-lg-6 mb-2">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-md-3 col-form-label">Name(s) of the places :</label>
                                    <div class="col-lg-8 col-md-9">
                                            <input type="text"  class="form-control" placeholder="Name(s) of the places">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-6 mb-2">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-md-3 col-form-label">No. of Days :</label>
                                    <div class="col-lg-8 col-md-9">
                                            <input type="text"  class="form-control" placeholder="No. of Days">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-2">
                                <div class="form-group row">
                                    <label class="col-lg-2 col-md-3 col-form-label pr-0">No. of persons (Adults/Children) :</label>
                                    <div class="col-sm-3  mb-2">
                                        <input type="text"  class="form-control" placeholder="0-5 Year">
                                    </div>
                                    <div class="col-sm-3 mb-2">
                                        <input type="text"  class="form-control" placeholder="above 5-11 years">
                                    </div>
                                    <div class="col-sm-3 mb-2">
                                        <input type="text"  class="form-control" placeholder="above 11 years">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-6 mb-2">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-md-3 col-form-label">Intended Date of Travel :</label>
                                    <div class="col-lg-8 col-md-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="20-01-2019">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button" id="button-addon2"><i class="fa fa-calendar-o"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-6 mb-2">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-sm-3 col-form-label pr-0">Budget per person :</label>
                                    <div class="col-lg-8 col-md-4">
                                        <input type="text"  class="form-control" placeholder="in INR">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-lg-2 col-md-3">
                                    </div>
                                    <div class="col-lg-3 col-md-4 mb-2">
                                        <button class="btn btn-primary btn-block" type="submit"> Sumbit</button>
                                    </div>
                                </div>
                            </div>
                          </div>
                      </form>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
</section>
<section class="upcoming-section bg-light">
  <div class="container pt-4 pb-4 mt-4 ">
      <h2 class=" pt-4 pb-4 mt-4 mb-4 text-center h1">Home Section Upcoming soon!</h2>
  </div>
</section>