<section class="home-main-banner">

  <div class="top-space"></div>
  <div class="container">
      <div class="row justify-content-end">
          <div class="col-md-4 mb-4">
              <div class="card mb-4">
                  <div class="card-header bg-primary">
                      <h5 class="text-secondary mb-0">Enquiry Now</h5>
                  </div>
                  <div class="card-body">
                      <form class="" action="" method="POST">
                          <div class="row">
                              <div class="col-md-12 mb-2">
                                  <input type="text" class="form-control" placeholder="Your Name">
                              </div>
                              <div class="col-md-12 mb-2">
                                  <input type="text" class="form-control" placeholder="Email address">
                              </div>
                              <div class="col-md-12 mb-2">
                                  <input type="text" class="form-control" placeholder="Mobile Number">
                              </div>
                              <div class="col-md-12 mb-2">
                                  <select class="form-control">
                                      <option>Select Services</option>
                                      <option>Services 1</option>
                                      <option>Services 2</option>
                                      <option>Services 3</option>
                                      <option>Services 4</option>
                                  </select>
                              </div>
                              <div class="col-md-12 mb-2 text-left">
                                  <textarea  class="form-control" placeholder="Message" rows="2"></textarea>
                              </div>
                              <div class="col-md-12 mb-2">
                                  <button class="btn btn-primary btn-block" type="submit"> Sumbit</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
</section>
<section class="upcoming-section">
  <div class="container pt-4 pb-4 mt-4 mb-4">
      <h1 class=" pt-4 pb-4 mt-4 mb-4 text-center">Home Section Upcoming soon!</h1>
  </div>
</section>